<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/mistake_style_data/css/style1.css">
    <title>Сервис недоступен</title>
</head>

<body>
    <div class="container">
        <img src="~/mistake_style_data/img/mistake_img.png" alt="перекрытая дорога" class="img">
        <div class="box">
            <h1 class="title">
                Упс.... Кажется,&nbsp;что-&nbsp;то&nbsp;пошло&nbsp;не&nbsp;так.
            </h1>
            <p class="text">
                Приносим свои извенения, сервис временно&nbsp;недоступен.
            </p>
        </div>
    </div>
</body>

</html>