[data-title] {
    position: relative;
    cursor: help;
}

    [data-title]::after {
        content: attr(data-title);
        position: absolute;
        left: -1.4em;
        top: 2em;
        opacity: 0;
        transition: 1s;
        pointer-events: none;
        background: rgba(57, 137, 201, 0.9);
        color: #fff;
        padding: 0.5em;
        border-radius: 10px;
    }


    [data-title]:hover::after {
        opacity: 1;
        transition-delay: 3s;
    }

